body {
  background-color: black;
  display: flex;
  height: 100%;
  justify-content: center;
}

i {
  color: white;
  line-height: 100%;
  font-size: 75px;
}

i:hover {
  cursor: pointer;
}

.image-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  transition: bottom 2s;
  padding: -2px;
  border: none;
}

.icon-container:hover + .image-container,
.icon-container:active + .image-container {
  bottom: 0; /* Move the image into the viewport */
}

#hover-img {
  width: 100vw;
  margin-bottom: -3px;
}

.animated-rotate:hover,
.animated-rotate:active {
  -webkit-animation: rotation 0.5s infinite linear;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
